sudo: required
dist: xenial
language: python
cache:
  - pip
  - apt
python:
  - "3.7"
before_install:
  - sudo apt-get -qq update
# for PySide/QT4
  - sudo apt-get install -y python3-pyside
install:
  - "pip install -U pip setuptools"
  - "pip install -U -r test_requirements.txt"
  - "pip install -U -e ."
script:
  - "py.test --cov=PyPoE"
after_success:
  - coveralls
